*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Exo 2', sans-serif;
}

header{
    padding: 0 20px;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

header .brand img{
    width: 40px;
}

header .brand h4 {
    font-size: 24px;
    color: #01528a;
    font-weight: 400;
    line-height: 30px;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 8px;
}

header ul li {
    font-weight: 300;
    line-height: 30px;
}
header li a{
    text-decoration: none;
    color: black;
    padding-bottom: 16px;
}
header li a:hover,
header li a.active {
    color: #01528a;
}
header li a.active{
    font-weight: 400;
    border-bottom: #01528a;
}
header li button{
    background-color: #0889d4;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
    line-height: 20px;
}

main{
    margin: 32px 0;
}

main h2{
    margin: 32px 0;
    font-weight: 300;
    font-size: 36px;
}